{% load i18n %}
<section id="app-features"
         class="section
                section-default
                section-pricing
                section-pricing-second">
    <div class="pricing-table-container">
        <div class="pricing-table-container-inner">
            <div class="pricing-section-header-container">
                <div class="container">
                    <div class="row pricing-row pricing-row-main-header">
                        <div class="col-xs-12">
                            <h2>
                                {% trans 'App Features' %}
                                <a href="https://wiki.commcarehq.org/display/commcarepublic/CommCare+Plan+Details">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </h2>
                        </div>
                    </div>
                    {% include 'prelogin/_sections/pricing/partials/section_plan_headers.html' %}
                </div>
            </div>
            <div class="container">
                <div class="row pricing-row pricing-row-main
                            pricing-row-single ">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Data collection
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single
                            pricing-row-double-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Case management
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single
                            pricing-row-double-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Multilingual support
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Multimedia
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Complex Decision Support
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Lookup Tables
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                User Case Management
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                CommCare Supply Solution
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Web-Based Applications
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x x * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Custom Branding
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x x x * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
