{% load i18n %}
<section id="messaging-sms"
         class="section
                section-default
                section-pricing
                section-pricing-third">
    <div class="pricing-table-container">
        <div class="pricing-table-container-inner">
            <div class="pricing-section-header-container">
                <div class="container">
                    <div class="row pricing-row pricing-row-main-header">
                        <div class="col-xs-12">
                            <h2>
                                {% trans 'Messaging (SMS / Voice / Email)' %}
                                <a href="https://wiki.commcarehq.org/display/commcarepublic/CommCare+Plan+Details">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </h2>
                            <p class="pricing-lead">
                                {% blocktrans %}
                                Dimagi charges incoming and outgoing messages on a
                                per-message fee.  For a full list,
                                <a href="https://www.commcarehq.org/messaging-pricing">click here</a>.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    {% include 'prelogin/_sections/pricing/partials/section_plan_headers.html' %}
                </div>
            </div>
            <div class="container">
                <div class="row pricing-row pricing-row-main pricing-row-double
                            pricing-row-triple-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                One-way messaging (SMS, Email)
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Live SMS chat
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double
                            pricing-row-quad-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Access to Dimagi's in-country gateways
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single
                            pricing-row-double-md">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Android gateway setup
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double
                            pricing-row-triple-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Two-way messaging (SMS, Voice)
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x x * * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double
                            pricing-row-triple-md">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Support to connect new in-country gateways
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x x x * * #}
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
