{% load i18n %}
{% load pricing_tags %}
<section id="support"
         class="section
                section-default
                section-pricing
                section-pricing-eighth">
    <div class="pricing-table-container">
        <div class="pricing-table-container-inner">
            <div class="pricing-section-header-container">
                <div class="container">
                    <div class="row pricing-row pricing-row-main-header">
                        <div class="col-xs-12">
                            <h2>
                                {% trans 'Support' %}
                                <a href="https://wiki.commcarehq.org/display/commcarepublic/CommCare+Plan+Details">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </h2>
                        </div>
                    </div>
                    {% include 'prelogin/_sections/pricing/partials/section_plan_headers.html' %}
                </div>
            </div>
            <div class="container">
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    {% trans "Online learning resources" as feature_name %}
                    {% pricing_row_contents feature_name "community" %}
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single
                            pricing-row-double-sm">
                    {% trans "Direct email support" as feature_name %}
                    {% pricing_row_contents feature_name "standard" %}
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    {% trans "Guaranteed Response Time" as feature_name %}
                    <div class="col-xs-2">
                        <h4>{{ feature_name }}</h4>
                    </div>
                    <div class="col-xs-2 pricing-col-community">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-standard">
                        <div class="pricing-info">
                            <p>{% trans "3 Business Days" %}</p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-pro">
                        <div class="pricing-info">
                            <p>{% trans "1 Business Day" %}</p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-advanced">
                        <div class="pricing-info">
                            <p>{% trans "1 Business Day + Phone Support" %}</p>
                        </div>
                    </div>
                    <div class="col-xs-2 pricing-col-enterprise">
                        <div class="pricing-info">
                            <p>{% trans "1 Business Day + Phone Support" %}</p>
                        </div>
                    </div>
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single
                            pricing-row-double-md">
                    {% trans "General troubleshooting" as feature_name %}
                    {% pricing_row_contents feature_name "standard" %}
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    {% trans "Project-specific troubleshooting" as feature_name %}
                    {% pricing_row_contents feature_name "pro" %}
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-single">
                    {% trans "Priority support" as feature_name %}
                    {% pricing_row_contents feature_name "advanced" %}
                </div>
                <div class="row pricing-row pricing-row-main pricing-row-double">
                    {% trans "Dedicated account manager" as feature_name %}
                    {% pricing_row_contents feature_name "enterprise" %}
                </div>
            </div>
        </div>
    </div>
</section>
