{% load i18n %}
<section id="pricing-footer"
         class="section section-primary section-detail section-pricing-fine">
    <div class="container">
        <div class="row">
            <p><small>
                *{% blocktrans %}
                    Local taxes and other country-specific fees not
                    included. Dimagi provides pro-bono software plans
                    on a needs basis. To learn more about this opportunity
                    or see if your program qualifies, please fill out our
                    <a href="https://www.commcarehq.org/pro_bono/">pro-bono form</a>.
                {% endblocktrans %}
            </small></p>
        </div>
    </div>
</section>
