@b3-import-variables: '../../../../../../../../bower_components/bootstrap/less/variables';
@b3-import-mixins: '../../../../../../../../bower_components/bootstrap/less/mixins';

@b3-import-variables-prelogin: '../../../../../hqwebapp/static/hqwebapp/less/_hq/includes/variables';
@b3-import-mixins-prelogin: '../../../../../hqwebapp/static/hqwebapp/less/_hq/includes/mixins';

@import "public-style-imports";
