{% load i18n %}
<section id="software-services-lead" class="section section-primary section-lead section-software-services-lead appear">
    <div class="container">
        <div class="row">
            <div class="col-sm1-12">
                <header>
                    <h1 class="text-center">
                        {% blocktrans %}
                            CommCare Software Pricing <br class="visible-xs visible-sm" />&amp; Implementation Services
                        {% endblocktrans %}
                    </h1>
                    <p class="lead text-center">
                        {% blocktrans %}
                            Use CommCare to design and deploy your own mobile
                            apps,<br />or have Dimagi's experienced field staff
                            help you.
                        {% endblocktrans %}
                    </p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="services-icon services-icon-pricing"></div>
            </div>
            <div class="col-sm-4">
                <h3>
                    {% blocktrans %}
                        Not a developer?<br />Not a problem.
                    {% endblocktrans %}
                </h3>
                <p>
                    {% blocktrans %}
                        Hundreds of organizations are building CommCare
                        apps for their programs from scratch!
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                        Use Dimagi's FREE resources and build your own FREE
                        mobile app today, or find a plan that works best for your project's needs.
                    {% endblocktrans %}
                </p>
                <p class="visible-xs">
                    <a href="#software" class="btn btn-success btn-xl">
                        {% trans 'View Software Features &amp; Pricing' %}
                    </a>
                </p>
            </div>
            <div class="col-sm-2">
                <div class="services-icon services-icon-services"></div>
            </div>
            <div class="col-sm-4">
                <h3>
                    {% blocktrans %}
                        From Design through Scale:<br />We're here to help.
                    {% endblocktrans %}
                </h3>
                <p>
                    {% blocktrans %}
                        For groups that would like
                        in-person support, Dimagi has a strong history of
                        successful project execution.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                        Our experienced services team is ready to design,
                        implement, and maintain mobile systems.
                    {% endblocktrans %}
                </p>
                <p class="visible-xs">
                    <a href="#services" class="btn btn-success btn-xl">
                        {% trans 'View Implementation Services' %}
                    </a>
                </p>
            </div>
        </div>
        <div class="row visible-sm visible-md visible-lg">
            <div class="col-sm-6">
                <p>
                    <a href="#software" class="btn btn-success btn-xl">
                        {% trans 'View Software Features &amp; Pricing' %}
                    </a>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <a href="#services" class="btn btn-success btn-xl">
                         {% trans 'View Implementation Services' %}
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
