{% load hq_shared_tags %}{% load i18n %}
<section id="software" class="section section-primary section-software-services-pricing">
    <span id="software-services-pricing"></span><!-- so /software_services/#software-services-pricing works -->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <header>
                    <h1>
                        {% trans 'CommCare Software Plans' %}
                    </h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <p class="lead">
                    {% blocktrans %}
                        Core Features are always FREE. Choose a plan
                        to help your project scale.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                    For additional questions, please see our
                    <a class="lead-link"
                       href="https://confluence.dimagi.com/display/commcarepublic/CommCare+Pricing+FAQs?__hstc=187943799.ba674a1a3cdef13c5d09b2a54d65c2b8.1431286503613.1435340206977.1435342587932.124&__hssc=187943799.6.1435342587932&__hsfp=312587752">FAQs</a>.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="col-sm-6 col-md-4" style="position: relative;">
                <p class="lead text-center pricing-cta">
                    {% blocktrans %}
                        Want to try CommCare for FREE?
                    {% endblocktrans %}<br />
                    <a class="btn btn-success btn-xl" href="{% url 'registration_default' %}">{% trans 'Sign up for a FREE account' %}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="pricing-table-container">
        <div class="pricing-table-container-inner">
            <div class="container">
                {% include 'prelogin/_sections/software_services/shared_pricing_table.html' %}
            </div>
        </div>
    </div>
    <div class="container">
        <p><small>
            *{% blocktrans %}
                Dimagi charges incoming and outgoing messages on a per-message
                fee. For a full list,
                <a class="lead-link" href="https://www.commcarehq.org/messaging-pricing">
                    click here</a>.
            {% endblocktrans %}
        </small></p>
    </div>
</section>
