{# This file alone is available under the BSD 3-Clause license as posted at #}
{# https://github.com/dimagi/commcare-hq/blob/master/LICENSE #}
{% load hq_shared_tags %}{% load i18n %}
<div class="pricing-table-bg-container">
    <div class="pricing-table-bg">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2 col-bg"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-2 pricing-col-community">
        <h3 class="pricing-header text-uppercase">
            {% trans 'Community' %}
        </h3>
    </div>
    <div class="col-xs-2 pricing-col-standard">
        <h3 class="pricing-header text-uppercase">
            {% trans 'Standard' %}
        </h3>
    </div>
    <div class="col-xs-2 pricing-col-pro">
        <h3 class="pricing-header text-uppercase">
            {% trans 'Pro' %}
        </h3>
    </div>
    <div class="col-xs-2 pricing-col-advanced">
        <h3 class="pricing-header text-uppercase">
            {% trans 'Advanced' %}
        </h3>
    </div>
    <div class="col-xs-2 pricing-col-enterprise">
        <h3 class="pricing-header text-uppercase">
            {% trans 'Enterprise' %}
        </h3>
    </div>
</div>
{% if postlogin %}
<div class="row pricing-row pricing-row-lead pricing-row-select">
    <div class="col-xs-2">
        <h4>{% trans 'Select Plan' %}</h4>
    </div>
    <div data-bind="template: { name: 'select-plan-template', data: {
        pt: $data
    }}"></div>
</div>
{% endif %}
<div class="row pricing-row">
    <div class="col-xs-2">
        <h4>{% trans 'Pricing' %}</h4>
    </div>
    <div class="col-xs-2 pricing-col-community">
        <div class="pricing-cost text-uppercase">
            {% trans 'Free' %}
        </div>
    </div>
    <div class="col-xs-2 pricing-col-standard">
        <div class="pricing-cost">
            {% trans '$100 /month' %}
        </div>
    </div>
    <div class="col-xs-2 pricing-col-pro">
        <div class="pricing-cost">
            {% trans '$500 /month' %}
        </div>
    </div>
    <div class="col-xs-2 pricing-col-advanced">
        <div class="pricing-cost">
            {% trans '$1,000 /month' %}
        </div>
    </div>
    <div class="col-xs-2 pricing-col-enterprise">
        <div class="pricing-cost">
        {% if postlogin %}
            {% trans 'Contact Us' %}
        {% else %}
            <a href="#contactDimagi"
               data-toggle="modal">{% trans 'Contact Us' %}</a>
        {% endif %}
        </div>
    </div>
</div>
<div class="row pricing-row pricing-row-lead pricing-row-summary">
    <div class="col-xs-2">
        <h4>{% trans 'Feature Summary' %}</h4>
    </div>
    <div class="col-xs-2">
        <div class="pricing-info pricing-info-summary">
            <ul>
                <li>{% trans 'Online Learning Resources' %}</li>
                <li>{% trans 'CommCare App Builder' %}</li>
                <li>{% trans 'Case Management' %}</li>
                <li>{% trans 'Pre-Built Reports' %}</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-info pricing-info-summary">
            <ul>
                <li>{% trans 'Guaranteed Email Support within 3 Business Days' %}</li>
                <li>{% trans 'Lookup Tables' %}</li>
                <li>{% trans 'Case Importer' %}</li>
                <li>{% trans 'API Access' %}</li>
                <li>{% trans 'One-way SMS' %}*</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-info pricing-info-summary">
            <ul>
                <li>{% trans 'Guaranteed Email Support within 1 Business Day' %}</li>
                <li>{% trans 'Web-based applications' %}</li>
                <li>{% trans 'Data management tools' %}</li>
                <li>{% trans 'Two-way SMS' %}*</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-info pricing-info-summary">
            <ul>
                <li>{% trans 'Phone Support' %}</li>
                <li>{% trans 'Custom branding' %}</li>
                <li>{% trans 'HIPAA compliance assurance' %}</li>
                <li>{% trans 'External app integration framework' %}</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-info pricing-info-summary">
            <ul>
                <li>{% trans 'Custom pricing is available for large scale projects.' %}</li>
            </ul>
        </div>
    </div>
</div>
<div class="row pricing-row pricing-row-more">
    <div class="col-xs-2 col-xs-offset-2">
        <div class="pricing-more">
            <a {% if prelogin %}target="_blank" {% endif %}href="{% prelogin_url 'public_pricing' %}">See More...</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-more">
            <a {% if postlogin %}target="_blank" {% endif %}href="{% prelogin_url 'public_pricing' %}">See More...</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-more">
            <a {% if postlogin %}target="_blank" {% endif %}href="{% prelogin_url 'public_pricing' %}">See More...</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-more">
            <a {% if postlogin %}target="_blank" {% endif %}href="{% prelogin_url 'public_pricing' %}">See More...</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="pricing-more">
            <a {% if postlogin %}target="_blank" {% endif %}href="{% prelogin_url 'public_pricing' %}">See More...</a>
        </div>
    </div>
</div>
