{% load i18n %}

<form class="form-signup" role="form" method="post" action="{% url 'register_user' %}">
      {% csrf_token %}
      <input type="hidden" name="prelogin_redirect" value="1" />
      <input type="hidden" name="xform" />
      <label class="sr-only"
             for="signUpEmail">{% trans "Email" %}</label>
      <div class="row">
        <div class="col-xs-6 col-sm-7 col-lg-8">
          <input type="text"
                 class="form-control input-xl"
                 name="e"
                 id="signUpEmail"
                 placeholder="{% trans 'enter your email' %}" />
        </div>
        <div class="col-xs-6 col-sm-5 col-lg-4">
          <button type="submit"
              class="btn btn-success btn-xl">
            {% trans "Sign Up for Free" %}
          </button>
        </div>
      </div>
</form>
