@import "@{b3-import-mixins-prelogin}";

@import "mixins/flower";

.background-cover(@property) {
  -webkit-background-size: @property;
  -moz-background-size: @property;
  -o-background-size: @property;
  background-size: @property;
}
