/*
PLEASE READ THIS BEFORE EDITING THE LESS BELOW!

NOTE: When editing the sizes below AND the templates please be sure to test the
layout in the following screen sizes of minimum width

*-lg:  1200px
*-md: 992px
*-sm: 768px
*-xs: 480px

and update the heights below.

Please also be aware of the row heights for each feature at each of these screen
widths and adjust the classes for each row accordingly. The classes for the
row heights can be found in components/pricing.less

*/

@pricing-first-section-height-xs: 257px;
@pricing-first-section-height-sm: 257px;
@pricing-first-section-height-md: 252px;
@pricing-first-section-height-lg: 289px;

@pricing-second-section-height-xs: 700px;
@pricing-second-section-height-sm: 700px;
@pricing-second-section-height-md: 690px;
@pricing-second-section-height-lg: 788px;

@pricing-third-section-height-xs: 532px;
@pricing-third-section-height-sm: 532px;
@pricing-third-section-height-md: 487px;
@pricing-third-section-height-lg: 518px;

@pricing-fourth-section-height-xs: 440px;
@pricing-fourth-section-height-sm: 440px;
@pricing-fourth-section-height-md: 435px;
@pricing-fourth-section-height-lg: 496px;

@pricing-fifth-section-height-xs: 348px;
@pricing-fifth-section-height-sm: 323px;
@pricing-fifth-section-height-md: 318px;
@pricing-fifth-section-height-lg: 363px;

@pricing-sixth-section-height-xs: 354px;
@pricing-sixth-section-height-sm: 354px;
@pricing-sixth-section-height-md: 334px;
@pricing-sixth-section-height-lg: 392px;

@pricing-seventh-section-height-xs: 369px;
@pricing-seventh-section-height-sm: 359px;
@pricing-seventh-section-height-md: 333px;
@pricing-seventh-section-height-lg: 365px;

@pricing-eighth-section-height-xs: 295px;
@pricing-eighth-section-height-sm: 257px;
@pricing-eighth-section-height-md: 252px;
@pricing-eighth-section-height-lg: 289px;


.make-pricing-heights (@xsH, @smH, @mdH, @lgH) {
  height: @xsH;

  @media (min-width: @screen-sm-min) {
    height: @smH;
  }

  @media (min-width: @screen-md-min) {
    height: @mdH;
  }

  @media (min-width: @screen-lg-min) {
    height: @lgH;
  }
}

.make-pricing-margins (@xsH, @smH, @mdH, @lgH) {
  margin-top: -@xsH;

  @media (min-width: @screen-sm-min) {
    margin-top: -@smH;
  }

  @media (min-width: @screen-md-min) {
    margin-top: -@mdH;
  }

  @media (min-width: @screen-lg-min) {
    margin-top: -@lgH;
  }
}

.bg-pricing-first {
  .make-pricing-heights(@pricing-first-section-height-xs, @pricing-first-section-height-sm, @pricing-first-section-height-md, @pricing-first-section-height-lg);
}

.section-pricing-first {
  .make-pricing-margins(@pricing-first-section-height-xs, @pricing-first-section-height-sm, @pricing-first-section-height-md, @pricing-first-section-height-lg);
  .make-pricing-heights(@pricing-first-section-height-xs, @pricing-first-section-height-sm, @pricing-first-section-height-md, @pricing-first-section-height-lg);
}

.bg-pricing-second {
  .make-pricing-heights(@pricing-second-section-height-xs, @pricing-second-section-height-sm, @pricing-second-section-height-md, @pricing-second-section-height-lg);
}

.section-pricing-second {
  .make-pricing-margins(@pricing-second-section-height-xs, @pricing-second-section-height-sm, @pricing-second-section-height-md, @pricing-second-section-height-lg);
  .make-pricing-heights(@pricing-second-section-height-xs, @pricing-second-section-height-sm, @pricing-second-section-height-md, @pricing-second-section-height-lg);
}

.bg-pricing-third {
  .make-pricing-heights(@pricing-third-section-height-xs, @pricing-third-section-height-sm, @pricing-third-section-height-md, @pricing-third-section-height-lg);
}

.section-pricing-third {
  .make-pricing-margins(@pricing-third-section-height-xs, @pricing-third-section-height-sm, @pricing-third-section-height-md, @pricing-third-section-height-lg);
  .make-pricing-heights(@pricing-third-section-height-xs, @pricing-third-section-height-sm, @pricing-third-section-height-md, @pricing-third-section-height-lg);
}

.bg-pricing-fourth {
  .make-pricing-heights(@pricing-fourth-section-height-xs, @pricing-fourth-section-height-sm, @pricing-fourth-section-height-md, @pricing-fourth-section-height-lg);
}

.section-pricing-fourth {
  .make-pricing-margins(@pricing-fourth-section-height-xs, @pricing-fourth-section-height-sm, @pricing-fourth-section-height-md, @pricing-fourth-section-height-lg);
  .make-pricing-heights(@pricing-fourth-section-height-xs, @pricing-fourth-section-height-sm, @pricing-fourth-section-height-md, @pricing-fourth-section-height-lg);
}

.bg-pricing-fifth {
  .make-pricing-heights(@pricing-fifth-section-height-xs, @pricing-fifth-section-height-sm, @pricing-fifth-section-height-md, @pricing-fifth-section-height-lg);
}

.section-pricing-fifth {
  .make-pricing-margins(@pricing-fifth-section-height-xs, @pricing-fifth-section-height-sm, @pricing-fifth-section-height-md, @pricing-fifth-section-height-lg);
  .make-pricing-heights(@pricing-fifth-section-height-xs, @pricing-fifth-section-height-sm, @pricing-fifth-section-height-md, @pricing-fifth-section-height-lg);
}

.bg-pricing-sixth {
  .make-pricing-heights(@pricing-sixth-section-height-xs, @pricing-sixth-section-height-sm, @pricing-sixth-section-height-md, @pricing-sixth-section-height-lg);
}

.section-pricing-sixth {
  .make-pricing-margins(@pricing-sixth-section-height-xs, @pricing-sixth-section-height-sm, @pricing-sixth-section-height-md, @pricing-sixth-section-height-lg);
  .make-pricing-heights(@pricing-sixth-section-height-xs, @pricing-sixth-section-height-sm, @pricing-sixth-section-height-md, @pricing-sixth-section-height-lg);
}

.bg-pricing-seventh {
  .make-pricing-heights(@pricing-seventh-section-height-xs, @pricing-seventh-section-height-sm, @pricing-seventh-section-height-md, @pricing-seventh-section-height-lg);
}

.section-pricing-seventh {
  .make-pricing-margins(@pricing-seventh-section-height-xs, @pricing-seventh-section-height-sm, @pricing-seventh-section-height-md, @pricing-seventh-section-height-lg);
  .make-pricing-heights(@pricing-seventh-section-height-xs, @pricing-seventh-section-height-sm, @pricing-seventh-section-height-md, @pricing-seventh-section-height-lg);
}

.bg-pricing-eighth {
  .make-pricing-heights(@pricing-eighth-section-height-xs, @pricing-eighth-section-height-sm, @pricing-eighth-section-height-md, @pricing-eighth-section-height-lg);
}

.section-pricing-eighth {
  .make-pricing-margins(@pricing-eighth-section-height-xs, @pricing-eighth-section-height-sm, @pricing-eighth-section-height-md, @pricing-eighth-section-height-lg);
  .make-pricing-heights(@pricing-eighth-section-height-xs, @pricing-eighth-section-height-sm, @pricing-eighth-section-height-md, @pricing-eighth-section-height-lg);
}


@smallest-table-width: 715px;

.pricing-table-container {
  position: relative;

  @media (max-width: @smallest-table-width) {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
.pricing-table-container-inner {
  min-width: @smallest-table-width + 1;
}

.section-pricing-lead {
  .pricing-table-container {
    @media (max-width: @smallest-table-width) {
      height: 269px;
    }
  }
}

.section-pricing-first {
  .pricing-table-container {
    @media (max-width: @smallest-table-width) {
      height: @pricing-first-section-height-xs;
    }
  }
}

.section-pricing-second {
  .pricing-table-container {
    @media (max-width: @smallest-table-width) {
      height: @pricing-second-section-height-xs;
    }
  }
}
