{% load i18n %}
<section id="impact-partners" class="section section-alt section-detail section-impact-partners appear">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center">
                    {% blocktrans %}
                        Partners of CommCare
                    {% endblocktrans %}
                </h2>
                <p class="text-center">
                    {% blocktrans %}
                    <!--HubSpot Call-to-Action Code -->
                    <span class="hs-cta-wrapper" id="hs-cta-wrapper-c34ae48e-2f1a-48ac-9170-31fc7c9e845b">
                        <span class="hs-cta-node hs-cta-c34ae48e-2f1a-48ac-9170-31fc7c9e845b" id="hs-cta-c34ae48e-2f1a-48ac-9170-31fc7c9e845b">
                            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                            <a href="http://cta-redirect.hubspot.com/cta/redirect/503070/c34ae48e-2f1a-48ac-9170-31fc7c9e845b"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-c34ae48e-2f1a-48ac-9170-31fc7c9e845b" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/503070/c34ae48e-2f1a-48ac-9170-31fc7c9e845b.png"  alt="See All Partners"/></a>
                        </span>
                        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                        <script type="text/javascript">
                            hbspt.cta.load(503070, 'c34ae48e-2f1a-48ac-9170-31fc7c9e845b');
                        </script>
                    </span>
                    <!-- end HubSpot Call-to-Action Code -->
                    {% endblocktrans %}
                </p>
                <p class="lead text-center">
                    {% blocktrans %}
                        The following organizations have contributed
                        to the development of CommCare.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 col-xs-center">
                <a href="http://www.gatesfoundation.org/"
                   class="partner partner-gates col-xs-center">
                    <span class="sr-only">Bill &amp; Melinda Gates</span>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12 col-xs-center">
                <a href="http://www.usaid.gov/"
                   class="partner partner-usaid col-xs-center">
                    <span class="sr-only">USAID</span>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12 col-xs-center">
                <a href="http://www.unfoundation.org/"
                   class="partner partner-un col-xs-center">
                    <span class="sr-only">UN Foundation</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-8 col-xs-right">
                <a href="http://www.microsoft.com/"
                   class="partner partner-microsoft">
                    <span class="sr-only">Microsoft</span>
                </a>
            </div>
            <div class="col-sm-1 col-xs-4 col-xs-left">
                <a href="http://www.hp.com/" class="partner partner-hp">
                    <span class="sr-only">HP</span>
                </a>
            </div>
            <div class="col-sm-3 col-xs-8 col-xs-right">
                <a href="http://www.vodafone.com/" class="partner partner-vodafone">
                    <span class="sr-only">Vodafone</span>
                </a>
            </div>
            <div class="col-sm-1 col-xs-4 col-xs-left">
                <a href="http://www.intel.com/" class="partner partner-intel">
                    <span class="sr-only">Intel</span>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12 col-xs-center">
                <a href="http://www.wellcome.ac.uk/"
                   class="partner partner-wellcome">
                    <span class="sr-only">Wellcome Trust</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-xs-12 col-sm-offset-2 col-xs-center">
                <a href="http://www.pepfar.gov/"
                   class="partner partner-pepfar">
                    <span class="sr-only">US-PEPFAR</span>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12 col-xs-center">
                <a href="http://www.idrc.ca/"
                   class="partner partner-idrc">
                    <span class="sr-only">IDRC</span>
                </a>
            </div>
            <div class="col-sm-2 col-xs-7 col-xs-right">
                <a href="http://www.coregroup.org/"
                   class="partner partner-core">
                    <span class="sr-only">Core Group</span>
                </a>
            </div>
            <div class="col-sm-1 col-xs-4 col-xs-left">
                <a href="http://www.ddcf.org/"
                   class="partner partner-dd">
                    <span class="sr-only">Doris Duke</span>
                </a>
            </div>
        </div>
    </div>
</section>

