{% load i18n %}
<section id="impact-publications" class="section section-primary section-detail section-impact-last appear appear-last">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-center">
                    {% blocktrans %}
                        CommCare Publications
                    {% endblocktrans %}
                </h2>
                <p class="text-center">
                    {% blocktrans %}
                    <!--HubSpot Call-to-Action Code -->
                    <span class="hs-cta-wrapper" id="hs-cta-wrapper-23da92fd-b671-481f-9aee-bbc8a94b1f8b">
                        <span class="hs-cta-node hs-cta-23da92fd-b671-481f-9aee-bbc8a94b1f8b" id="hs-cta-23da92fd-b671-481f-9aee-bbc8a94b1f8b">
                            <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                            <a href="http://cta-redirect.hubspot.com/cta/redirect/503070/23da92fd-b671-481f-9aee-bbc8a94b1f8b"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-23da92fd-b671-481f-9aee-bbc8a94b1f8b" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/503070/23da92fd-b671-481f-9aee-bbc8a94b1f8b.png"  alt="View Research"/></a>
                        </span>
                        <script type="text/javascript">
                            hbspt.cta.load(503070, '23da92fd-b671-481f-9aee-bbc8a94b1f8b');
                        </script>
                    </span>
                    <!-- end HubSpot Call-to-Action Code -->
                    {% endblocktrans %}
                </p>
                <p class="lead text-center">
                    {% blocktrans %}
                        Over 30+ peer-reviewed publications have been written
                        about CommCare.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ pub_first_col }}
            </div>
            <div class="col-sm-6">
                {{ pub_second_col }}
            </div>
        </div>
    </div>
</section>
