{% load i18n %}
<section id="signup-reminder" class="section section-primary-dark section-detail section-home-signup-reminder appear appear-last">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                <h2>{% trans "Like what you see? Sign up today!" %}</h2>
                <p>
                    {% blocktrans %}
                        <strong>Signup is FREE</strong> and CommCare is open source.
                    {% endblocktrans %}
                </p>
                {% include 'prelogin/partials/signup_form.html' %}
            </div>
        </div>
    </div>
</section>
