{% load i18n %}
<section id="signup-reminder" class="section section-primary-dark section-detail section-home-signup-reminder appear appear-last">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                <h2>{% trans "Like what you see? Sign up today!" %}</h2>
                <p>
                    {% blocktrans %}
                        <strong>Signup is FREE</strong> and CommCare is Open Source.
                    {% endblocktrans %}
                </p>
                <form class="form-signup"
                      role="form"
                      method="get"
                      action="{% url 'register_user' %}"
                      data-actionA="{%  url 'register_user' %}"
                      data-actionB="{%  url 'register_new_user' %}">
                      <label class="sr-only"
                             for="signUpEmail">{% trans "Email" %}</label>
                      <div class="row">
                        <div class="col-xs-6 col-sm-7 col-lg-8">
                          <input type="text"
                                 class="form-control input-xl"
                                 name="e"
                                 id="signUpEmail"
                                 placeholder="{% trans 'enter your email' %}" />
                        </div>
                        <div class="col-xs-6 col-sm-5 col-lg-4">
                          <button type="submit"
                              class="btn btn-success btn-xl btn-full-width">
                            {% trans "Sign Up for Free" %}
                          </button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
</section>
