{% load pricing_tags %}
<div class="col-xs-2 pricing-col-community">
    <div class="pricing-info">
        <p><i class="fa {% class_for_availability pricing_info.community %}"></i></p>
    </div>
</div>
<div class="col-xs-2 pricing-col-standard">
    <div class="pricing-info">
        <p><i class="fa {% class_for_availability pricing_info.standard %}"></i></p>
    </div>
</div>
<div class="col-xs-2 pricing-col-pro">
    <div class="pricing-info">
        <p><i class="fa {% class_for_availability pricing_info.pro %}"></i></p>
    </div>
</div>
<div class="col-xs-2 pricing-col-advanced">
    <div class="pricing-info">
        <p><i class="fa {% class_for_availability pricing_info.advanced %}"></i></p>
    </div>
</div>
<div class="col-xs-2 pricing-col-enterprise">
    <div class="pricing-info">
        <p><i class="fa {% class_for_availability pricing_info.enterprise %}"></i></p>
    </div>
</div>
