{% load menu_tags %}{% load i18n %}{% load hq_shared_tags %}{% load cache %}{% load compress %}{% load crispy_forms_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>

        <title>CommCare HQ - A Mobile Data Collection Platform</title>
        <meta name="description" content="CommCare is an open source mobile data collection platform that enables anyone to build mobile apps.">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-language" content="{{ LANGUAGE_CODE }}">

        <link rel="shortcut icon" href="{% static 'hqwebapp/images/favicon.png' %}" />
        {% if less_debug %}
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'hqwebapp/less/bootstrap.debug.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'font-awesome/less/font-awesome.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'hqwebapp/less/font-commcare.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'hqwebapp/less/style.debug.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'prelogin/less/public-style.debug.less' %}" />
        {% else %}
        {% compress css %}
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'hqwebapp/less/bootstrap.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'font-awesome/less/font-awesome.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'hqwebapp/less/font-commcare.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'hqwebapp/less/style.less' %}" />
            <link type="text/less"
                  rel="stylesheet"
                  media="all"
                  href="{% static 'prelogin/less/public-style.less' %}" />
        {% endcompress %}
        {% endif %}

        {% block stylesheets %}{% endblock stylesheets %}

        {% javascript_libraries underscore=True jquery=True analytics=True hq=True %}

        {# Hubspot #}
        <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
        <script charset="utf-8" src="{% static 'prelogin/js/style_form.js' %}"></script>

        {% if FULLSTORY_ID %}
        <script>
            window['_fs_debug'] = false;
            window['_fs_host'] = 'www.fullstory.com';
            window['_fs_org'] = '{{ FULLSTORY_ID }}';
            (function(m,n,e,t,l,o,g,y){
                g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
                o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
                y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
                g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};
                g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;FS(o,v)};
                g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
                        ';path=/;expires='+new Date(0);i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}
            })(window,document,'FS','script','user');
        </script>
        {% endif %}

        {% if less_debug %}
            <script>
                less = {
                    env: "development",
                    useFileCache: true,
                    logLevel: 2,
                    errorReporting: 'console',
                    async: false,
                    fileAsync: false,
                    poll: 1000,
                    functions: {},
                    dumpLineNumbers: "comments",
                    relativeUrls: false,
                    globalVars: {
                        'b3-import-mixins-prelogin': "'/static/hqwebapp/less/_hq/includes/mixins'",
                        'b3-import-variables-prelogin': "'/static/hqwebapp/less/_hq/includes/variables'"
                    }
                };
            </script>
            <script src="{% static 'less/dist/less-1.7.3.min.js' %}"></script>
        {% endif %}
        {% block js-inline %}
            {# needed for analytics #}
        {% endblock js-inline %}
    </head>
    <body class="body-lang-{{ LANGUAGE_CODE }}">

        <nav class="navbar navbar-default navbar-static-hq navbar-fixed-top" role="navigation">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target=".cc-navbar-collapse">
                        <span class="sr-only">{% trans 'Toggle Navigation' %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'prelogin/images/commcare-flower.png' %}"
                             alt="CommCare"
                             title="" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse cc-navbar-collapse"
                     id="primary-nav">
                    <ul class="nav navbar-nav">
                        <li{% if is_home %} class="active"{% endif %}><a href="{% prelogin_url 'public_home' %}">CommCare</a></li>
                        <li{% if is_solutions %} class="active"{% endif %}><a href="{% prelogin_url 'public_solutions' %}">{% trans "Solutions" %}</a></li>
                        <li{% if is_impact %} class="active"{% endif %}><a href="{% prelogin_url 'public_impact' %}">{% trans "Impact" %}</a></li>
                        <li{% if is_software_services %} class="active"{% endif %}><a href="{% prelogin_url 'public_software_services' %}">{% trans "Pricing" %}</a></li>
                    </ul>
                    <div class="navbar-right">
                        <a href="http://sites.dimagi.com/commcare-demo?utm_campaign=CCHQ%20Carrie%20Demo%20Link&utm_source=CCHQ%20Carrie%20Demo%20Link%20-%20Oct.%202016&__hstc=187943799.4c4088bd4728a941c1367c7faab0f182.1457981628400.1487264933139.1487276077224.189&__hssc=187943799.2.1487276077224&__hsfp=3706891617"
                           class="btn btn-purple navbar-btn">
                          {% trans "Ask for a Demo" %}
                        </a>
                        <a href="{% url 'login' %}"
                           class="btn btn-primary navbar-btn">
                            {% trans 'Sign In' %}
                        </a>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   aria-expanded="false">
                                    <span class="fa fa-language" aria-hidden="true"></span>
                                    {{ current_lang_name }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for lang in language_options %}
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{lang.prefix_url}}">{{lang.display_label}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        {% block content %}{% endblock content %}

        <footer class="footer">
            <div class="container">
                <p class="text-copyright text-center">
                    {% blocktrans %}
                        Copyright &copy; {{ year }} Dimagi, Inc. All Rights Reserved.
                        Read the <a href="https://www.commcarehq.org/eula/">End User License Agreement</a>.
                    {% endblocktrans %}
                </p>
            </div>
        </footer>

        <div id="contactDimagi"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span></button>
                        <h3 class="modal-title">
                            {% trans "Get in Touch With Us: Contact Dimagi" %}
                        </h3>
                    </div>
                    <div class="modal-body">
                        <p>
                        {% blocktrans %}
                            Please fill out the form below and someone from Dimagi
                            will get back to you shortly. If you would like to
                            speak to someone about our product and services, feel
                            free to call us at +1 (888) 710-5830.
                        {% endblocktrans %}
                        </p>
                        <!--[if lte IE 8]>
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                        <![endif]-->
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                            hbspt.forms.create({
                                css: '',
                                cssClass: 'form form-horizontal',
                                submitButtonClass: 'btn btn-primary',
                                errorClass: 'form-control',
                                cssRequired: 'required',
                                errorMessageClass: 'help-block col-xs-8 col-xs-offset-4 text-danger',
                                portalId: '{{ hubspot.portal_id }}',
                                formId: '{{ hubspot.form_id }}',
                                onFormReady: styleContactForm,
                                onFormSubmit: endContactForm
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        {% block modals %}{% endblock modals %}


        {% include 'analytics/initial/all.html' %}
        {% initial_analytics_data 'drift.apiId' '7456r8nz2u34' %}
        <div class="initial-analytics-data hide">
        {% block initial_analytics_data %}
            {# do not override this block, use initial_analytics_data template tag to populate #}
        {% endblock %}
        </div>
        <div class="analytics-ab-tests hide">
        {% block analytics_ab_test %}
            {# do not override this block, use analytics_ab_test template tag to populate #}
        {% endblock %}
        </div>

        {# Contact JS #}
        {% compress js %}
            <script type="text/javascript" src="{% static 'prelogin/js/jquery.appear.js' %}"></script>
            <script type="text/javascript" src="{% static 'prelogin/js/jquery.scrollTo.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'prelogin/js/section_appear.js' %}"></script>
        {% endcompress %}

        {# Blazy for async loading images #}
        <script type="text/javascript" src="{% static 'blazy/blazy.js' %}"></script>
        <script type="text/javascript">
            var hqLazy = new Blazy({
                container: 'body',
                    success: function(element) {
                        setTimeout(function(){
                        var parent = element.parentNode;
                        parent.className = parent.className.replace(/\bloading\b/,'');
                    }, 200);
                }
            });
        </script>

        {% compress js %}
        {% block js %}{% endblock js %}
        {% endcompress %}


        <script type="text/javascript">
            $(function () {
                $('.flower-home [data-toggle="tooltip"]').tooltip();
            });
            $(function(){
                // Handle account signups
                var signUpFormHandler = function() {
                    var submittedForm = $(this);
                    hqImport('analytix/js/kissmetrix').track.event(
                        'Clicked "Sign up"',
                        {},
                        function() {
                            submittedForm.off('submit', signUpFormHandler).submit();
                        }
                    );
                    return false;
                };
                $('form.form-signup').on('submit', signUpFormHandler);
            });
        </script>
        {% block js-uncompressed %}{% endblock %}
    </body>
</html>
