{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
<section class="section section-primary section-lead section-fullheader" style="height: 350px;">
    <div class="container">
        <div class="row">
            <div class="hubspot-form-cta">

              <h1>
                {% blocktrans %}Schedule a Demo with us today!{% endblocktrans %}
              </h1>
              <p class="lead">
                {% blocktrans %}
                CommCare is a very powerful, flexible tool. We'd love to give you some
                  inspiration for how you can put it to use.
                {% endblocktrans %}
              </p>

              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                  css: '',
                  portalId: '503070',
                  formId: '93ea1a30-ca79-444f-ad19-f0e8187b17c0'
                });
              </script>

            </div>
        </div>
    </div>
</section>
<div class="bg-static-fixed bg-position-bottom b-lazy" data-src="{% static 'prelogin/images/bg-solutions/bg-solutions-second-lg.jpg' %}"></div>

{% endblock content %}
