{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% analytics_ab_test 'kissmetrics.prelogin_video_ab' ab_test %}
{% include 'prelogin/_sections/home/lead.html' %}
<div class="bg-static-fixed bg-position-bottom b-lazy" data-src="{% static 'prelogin/images/bg-home/bg-home-main-lg.jpg' %}"></div>
<section class="section section-aside{% if show_video %} section-aside-video{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-lightcool well-blockquote" style="margin-top: 70px;">
                    <p class="lead">
                        {% blocktrans %}
                        Used in 50+ countries, CommCare is the most widely
                        adopted, technically advanced,
                        <br class="visible-sm visible-md visible-lg" />
                        and evidence-based mobile
                        platform for low-resource settings.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a
                    target="_blank"
                    href="http://sites.dimagi.com/commcare-demo?utm_campaign=CCHQ%20Carrie%20Demo%20Link&utm_source=CCHQ%20Carrie%20Demo%20Link%20-%20Oct.%202016 "
                    class="btn btn-lg btn-warning">
                {% trans "Request free Demo" %}
                </a>
            </div>
        </div>
    </div>
</section>
{% include 'prelogin/_sections/home/build.html' %}
<div class="bg-static-fixed bg-position-bottom b-lazy" data-src="{% static 'prelogin/images/bg-home/bg-home-first-lg.jpg' %}"></div>
{% include 'prelogin/_sections/home/use.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-home/bg-home-second-lg.jpg' %}"></div>
{% include 'prelogin/_sections/home/track.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-home/bg-home-third-lg.jpg' %}"></div>
{% include 'prelogin/_sections/home/analyze.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-home/bg-home-third-lg.jpg' %}"></div>
{% include 'prelogin/_sections/home/about_dimagi.html' %}
{% include 'prelogin/_sections/home/signup_reminder.html' %}
{% endblock content %}
