{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% include 'prelogin/_sections/impact/lead.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-impact/bg-impact-first-lg.jpg' %}"></div>
<section class="section section-aside">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-lightcool well-blockquote"
                 style="margin-top: 90px;">
                <p class="lead">
                    <strong>
                        {% trans 'Who uses CommCare?' %}
                    </strong>
                    {% blocktrans %}
                        The logos of many of our users are featured
                        throughout this page.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
</section>
{% include 'prelogin/_sections/impact/sectors.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-impact/bg-impact-second-lg.jpg' %}"></div>
{% include 'prelogin/_sections/impact/case_studies.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-impact/bg-impact-third-lg.jpg' %}"></div>
{% include 'prelogin/_sections/impact/partners.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-impact/bg-impact-fourth-lg.jpg' %}"></div>
{% include 'prelogin/_sections/impact/publications.html' %}
{% endblock content %}
