{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% include 'prelogin/_sections/pricing/lead.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-first"></div>
{% include 'prelogin/_sections/pricing/mobile.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-second"></div>
{% include 'prelogin/_sections/pricing/web.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-third"></div>
{% include 'prelogin/_sections/pricing/analytics.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-fourth"></div>
{% include 'prelogin/_sections/pricing/sms.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-fifth"></div>
{% include 'prelogin/_sections/pricing/user.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-sixth"></div>
{% include 'prelogin/_sections/pricing/support.html' %}
{% include 'prelogin/_sections/pricing/fine_print.html' %}
<div class="bg-static-fixed bg-pricing-seventh"></div>
{% include 'prelogin/_sections/pricing/last.html' %}
{% endblock content %}
