{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}


{% block content %}
{% include 'prelogin/_sections/pricing/lead.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-first b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-web-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/01_app_mangement.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-second b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-mobile-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/02_app_features.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-third b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-sms-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/03_messaging_sms.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-fourth b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-analytics-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/04_reporting_analytics.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-fifth b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-security-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/05_data_security.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-sixth b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-users-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/06_user_management.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-seventh b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-systems-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/07_system_integration.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-eighth b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-support-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/08_support.html' %}
{% include 'prelogin/_sections/pricing/fine_print.html' %}
<div class="bg-static-fixed bg-position-left-bottom b-lazy" data-src="{% static 'prelogin/images/bg-pricing/bg-pricing-last-lg.jpg' %}"></div>
{% include 'prelogin/_sections/pricing/last.html' %}
{% endblock content %}
{% block js %}
    {% include 'prelogin/partials/schedule_once.html' %}
{% endblock js %}