{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% include 'prelogin/_sections/pricing/lead.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-first"></div>
{% include 'prelogin/_sections/pricing/01_app_mangement.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-second"></div>
{% include 'prelogin/_sections/pricing/02_app_features.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-third"></div>
{% include 'prelogin/_sections/pricing/03_messaging_sms.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-fourth"></div>
{% include 'prelogin/_sections/pricing/04_reporting_analytics.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-fifth"></div>
{% include 'prelogin/_sections/pricing/05_data_security.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-sixth"></div>
{% include 'prelogin/_sections/pricing/06_user_management.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-seventh"></div>
{% include 'prelogin/_sections/pricing/07_system_integration.html' %}
<div class="bg-static-fixed bg-pricing bg-pricing-eighth"></div>
{% include 'prelogin/_sections/pricing/08_support.html' %}
{% include 'prelogin/_sections/pricing/fine_print.html' %}
<div class="bg-static-fixed bg-pricing-ninth"></div>
{% include 'prelogin/_sections/pricing/last.html' %}
{% endblock content %}
