{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% include 'prelogin/_sections/services/lead.html' %}
<div class="bg-static-fixed bg-position-bottom b-lazy" data-src="{% static 'prelogin/images/bg-services/bg-services-first-lg.jpg' %}"></div>
{% include 'prelogin/_sections/services/bundles.html' %}
{% include 'prelogin/_sections/services/capacity.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-services/bg-services-third-lg.jpg' %}"></div>
{% include 'prelogin/_sections/services/faq.html' %}
{% endblock content %}
