{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% include 'prelogin/_sections/software_services/lead.html' %}
<div class="bg-static-fixed bg-position-bottom b-lazy" data-src="{% static 'prelogin/images/bg-software-services/bg-software-services-first-lg.jpg' %}"></div>
{% include 'prelogin/_sections/software_services/pricing.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-software-services/bg-software-services-second-lg.jpg' %}"></div>
{% include 'prelogin/_sections/software_services/bundles.html' %}
{% include 'prelogin/_sections/software_services/capacity.html' %}
<div class="bg-static-fixed bg-position-center b-lazy" data-src="{% static 'prelogin/images/bg-software-services/bg-software-services-third-lg.jpg' %}"></div>
{% include 'prelogin/_sections/software_services/faq.html' %}
{% endblock content %}
