{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% include 'prelogin/_sections/software_services/lead.html' %}
<div class="bg-static-fixed bg-software-services-first"></div>
{% include 'prelogin/_sections/software_services/pricing.html' %}
<div class="bg-static-fixed bg-software-services-second"></div>
{% include 'prelogin/_sections/software_services/bundles.html' %}
{% include 'prelogin/_sections/software_services/capacity.html' %}
<div class="bg-static-fixed bg-software-services-third"></div>
{% include 'prelogin/_sections/software_services/faq.html' %}
{% endblock content %}
