{% extends 'prelogin/base.html' %}
{% load i18n %}
{% load hq_shared_tags %}

{% block content %}
{% include 'prelogin/_sections/solutions/lead.html' %}
<div class="bg-static-fixed b-lazy" data-src="{% static 'prelogin/images/bg-solutions/bg-solutions-first-lg.jpg' %}"></div>
{% include 'prelogin/_sections/solutions/supply_intro.html' %}
{% include 'prelogin/_sections/solutions/supply_details.html' %}
<div class="bg-static-fixed b-lazy" data-src="{% static 'prelogin/images/bg-solutions/bg-solutions-second-lg.jpg' %}"></div>
{% include 'prelogin/_sections/solutions/last.html' %}
{% endblock content %}
