{% load i18n %}
<section id="services-bundles" class="section section-default section-primary
                                      section-services-bundles appear">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">
                    {% blocktrans %}
                        Implementation Bundles
                    {% endblocktrans %}
                </h2>
                <p class="text-center">
                    <a href="#contactDimagi"
                       data-toggle="modal"
                       class="btn btn-success btn-lg">
                        {% blocktrans %}
                        Inquire About Dimagi's Implementation Bundles
                        {% endblocktrans %}
                    </a>
                </p>
            </div>
        </div>
        <div class="bundles-container">
            <div class="bundles-container-inner">
                <div class="bundle-header-container">
                    <div class="bundle-header">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-2">
                                <div class="bundle-header-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row-header">
                    <div class="col-xs-2 col-xs-offset-2">
                        <div class="bundle-name bundle-name-community text-uppercase">{% trans 'Scope' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-name bundle-name-pro text-uppercase">{% trans 'Launch' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-name bundle-name-pro text-uppercase">{% trans 'Boost' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-name bundle-name-advanced text-uppercase">{% trans 'Growth' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-name bundle-name-advanced text-uppercase">{% trans 'Scale' %}</div>
                    </div>
                </div>
                <div class="row bundle-row bundle-row-1x-lg">
                    <div class="col-xs-2">
                        <h4>{% trans 'Cost' %}</h4>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-price bundle-price-community">{% trans '$10,000' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-price bundle-price-pro">{% trans '$40,000' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-price bundle-price-pro">{% trans '$60,000' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-price bundle-price-advanced">{% trans '$90,000' %}</div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-price bundle-price-advanced">{% trans '$160,000' %}</div>
                    </div>
                </div>
                <div class="row bundle-row">
                    <div class="col-xs-2">
                        <h4>
                            {% trans 'Description' %}
                        </h4>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-desc bundle-desc-community">
                            <p>
                                {% blocktrans %}
                                    Research and develop a comprehensive plan for your future digital system.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-desc bundle-desc-pro">
                            <p>
                                {% blocktrans %}
                                Launch a comprehensive pilot system deployed at test sites.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-desc bundle-desc-pro">
                            <p>
                                {% blocktrans %}
                                Strengthen your initial pilot with extra capacity building services.
                                {% endblocktrans %}
                            </p>

                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-desc bundle-desc-advanced">
                            <p>
                                {% blocktrans %}
                                Further prep for scale with dedicated capacity building and technology services.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-desc bundle-desc-advanced">
                            <p>
                                {% blocktrans %}
                                Go from a pilot through scale with dedicated capacity building and technology.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-1x-lg
                            bundle-row-2x-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                On-Site Scoping Visit
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-1x-lg
                            bundle-row-2x-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Requirements Analysis
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-2x-lg
                            bundle-row-3x-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Application Workflow Design
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# * * * * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-1x-lg
                            bundle-row-3x-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Field Testing &amp; Iteration
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-1x-lg
                            bundle-row-2x-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Training of Trainers
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-1x-lg
                            bundle-row-3x-sm">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Build &amp; Launch App
                            {% endblocktrans %}
                        </h4>
                    </div>
                    {# x * * * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-3x-lg
                            bundle-row-4x-md">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Additional Program Capacity Services
                            {% endblocktrans %}
                        </h4>
                        <p class="bundle-row-info">
                            {% blocktrans %}
                            (<a href="#services-capacity">See capacity services</a>)
                            {% endblocktrans %}
                        </p>
                    </div>
                    {# x x * * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p>2</p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p>2</p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p>4</p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row
                            bundle-row-3x-lg
                            bundle-row-4x-md">
                    <div class="col-xs-2">
                        <h4>
                            {% blocktrans %}
                                Additional Technology Capacity Services
                            {% endblocktrans %}
                        </h4>
                        <p class="bundle-row-info">
                            {% blocktrans %}
                            (<a href="#services-capacity">See capacity services</a>)
                            {% endblocktrans %}
                        </p>
                    </div>
                    {# x x x * * #}
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p><i class="fa fa-minus"></i></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="pricing-info">
                            <p>2</p>
                        </div>
                    </div>
                </div>
                <div class="row bundle-row-plan">
                    <div class="col-xs-2">
                        <h4>
                            {% trans 'Included CommCare Software Plan' %}
                        </h4>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-plan bundle-plan-community">
                            <p class="lead">
                                {% trans 'Community' %}
                            </p>
                            <p>
                                <small>{% trans "Indefinitely" %}</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-plan bundle-plan-pro">
                            <p class="lead">
                                {% trans 'Pro' %}
                            </p>
                            <p><small>{% trans "12 months" %}</small></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-plan bundle-plan-pro">
                            <p class="lead">
                                {% trans 'Pro' %}
                            </p>
                            <p><small>{% trans "12 months" %}</small></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-plan bundle-plan-advanced">
                            <p class="lead">
                                {% trans 'Advanced' %}
                            </p>
                            <p><small>{% trans "12 months" %}</small></p>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="bundle-plan bundle-plan-advanced">
                            <p class="lead">
                                {% trans 'Advanced' %}
                            </p>
                            <p><small>{% trans "18 months" %}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">
                    <a href="#contactDimagi"
                       data-toggle="modal"
                       class="btn btn-success btn-xl">
                        {% blocktrans %}
                        Inquire About Dimagi's Implementation Bundles
                        {% endblocktrans %}
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

